.footer {
    display: flex;
    flex-direction: row;
    border-radius: .75rem;
    border: #d0d7e1;
    padding: 1 rem;
    margin-right: 1rem;
    align-items: center;
    margin-top: auto;
    color: transparent;
   
}